@use "../../globals" as *;
@use "../../parts/common" as *;

/*
 * 参考サイト
 * https://gorigoricode.com/pseudo-element-triangle/
 *
*/

.triangle {
  position: relative;
  background: #00CC99;
  color: #fff;
  padding: 20px;
  border-radius: 3px;
}

.triangle::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 30px;
  width: 0;
  height: 0;
  border-top: 10px solid #00CC99;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

/*
@ [ ]
@ ボックスに上記のようなデザインを設定する
*/

.box-design {
  &::before {
    content: "";
    left: 0;
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 15px;
    height: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: solid #E67300;
    border-width: 1px 0px 1px 1px;
  }

  &::after {
    content: "";
    right: 0;
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 15px;
    height: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: solid #E67300;
    border-width: 1px 1px 1px 0px;
  }
}
